<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="true">

	<appender name="FILE1" class="org.apache.log4j.RollingFileAppender">

		<file relative-to="jboss.server.log.dir" path="test.log"/>

		<param name="MaxFileSize" value="1MB" />

		<param name="MaxBackupIndex" value="100" />

		<layout class="org.apache.log4j.PatternLayout">

			<param name="ConversionPattern" value="[%d{dd/MM/yy hh:mm:ss:sss z}] %5p %c{2}: %m%n" />

		</layout>

	</appender>



	<logger name="org.jboss.sfsbTest">

		<level value="trace" />

	</logger>



	<root>

		<priority value="info" />

		<appender-ref ref="FILE1" />

	</root>

</log4j:configuration>